ipython-autotime
requests-cache
requests-html
lxml[html_clean]
ipykernel
openpyxl
transformers>4.51.0
plotly
accelerate
statsmodels
scikit-learn
jinja2
matplotlib_venn
bertopic
torch
huggingface_hub[hf_xet]
qwen-vl-utils
torchvision
flash-attn